# Variables de entorno para el despliegue en Sepolia
# Copiar este archivo como .env y completar los valores
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com

PRIVATE_KEY=private_key_Signer1_sin_0x
PRIVATE_KEY_2=private_key_Signer2_sin_0x

SIGNERS=AddressSigner1,AddressSigner2

# Umbral de aprobaciones necesarias
THRESHOLD=2
